@{
    ViewBag.Title = "Index";
}

<div class="pm-body clearfix">
    <ul class="tab-nav tn-justified">
        <li class="active"><a href="profile-prof.html">All Courses</a></li>
    </ul>
    <a asp-area="" asp-controller="Course" asp-action="Create" data-toggle="tooltip" title="Create new Course" class="btn bgm-lightgreen btn-icon waves-effect waves-circle waves-float pull-right m-t-15 m-r-40">
        <i class="zmdi zmdi-plus"></i>
    </a>

    @{
        var counter = 1;
    }
    @foreach (var item in ViewBag.listOfCourses)
    {
        var link = "#collapseDescriptionCourse" + counter;
        var id = "collapseDescriptionCourse" + counter;

        <div class="pmb-block m-t-25">
            <div class="pmbb-header">
                <h2 class="fw-400"><i class="zmdi zmdi-book m-r-10"></i> @item.Item1.Title - @item.Item1.Id - @if(item.Item2) { <span> Subbed </span>}</h2>
                <a href="#" class="btn bgm-orange waves-effect m-t-25">Go to seminars</a>
                
                @if (ViewBag.IsStudent)
                {
                    <ul class="actions">
                        <li class="dropdown">
                            <a href="" data-toggle="dropdown">
                                <i class="zmdi zmdi-more-vert"></i>
                            </a>

                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Item1.Id })
                                </li>
                                <li>
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Item1.Id })
                                </li>
                                <li>
                                    @Html.ActionLink("Subscribe", "Subscribe", "Student", new { id = item.Item1.Id })
                                </li>
                            </ul>
                        </li>
                    </ul>
                }
            </div>
            <div class="pmbb-body p-l-30">
                <div class="pmbb-view">
                    <div class="panel-group" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-collapse">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                       href="@link" aria-expanded="false" aria-controls="@link">
                                        <h4 class="fw-100 m-0">Description</h4>
                                    </a>
                                </h4>
                            </div>
                            <div id="@id" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    @item.Item1.Description
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pmbb-view">
                    <h4 class="fw-100">Lecturer</h4>
                    <strong>
                        <a href="#" class="btn btn-default waves-effect">Jamie Freeman</a>
                    </strong>
                </div>
            </div>
        </div>

        counter++;
    }
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
}
