<p>Title: @ViewBag.Course.Title</p>
<p>Year: @ViewBag.Course.Year</p>
<p>Semester: @ViewBag.Course.Semester</p>
<p>Description: @ViewBag.Course.Description</p>
<p>Owner: @ViewBag.Course.Owner.FirstName - @ViewBag.Course.Owner.LastName</p>
<p>Associates: Associate Professors</p>