<h3>@ViewBag.Employee.FirstName - @ViewBag.Employee.LastName</h3>

<ul>
    @foreach (var course in @ViewBag.EmployeeCourses)
    {
        <li>@course.Title</li>
    }
</ul>

<h3>Teaching (Is associated with)</h3>

<ul>
    @foreach (var course in @ViewBag.Teaching)
    {
        <li>@course.Title</li>
    }
</ul>